In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/items-stats.csv')
df.head()

   points               item         team role opponent
0      16  Arcane Adrenaline  BDS Academy  top  LDLC OL
1       0   Arcane Explosive  BDS Academy  top  LDLC OL
2       0       Beast Hunter  BDS Academy  top  LDLC OL
3       0     Being of Light  BDS Academy  top  LDLC OL
4      14        Berseker Ax  BDS Academy  top  LDLC OL

In [3]:
df.team.unique()

array(['BDS Academy', 'LDLC OL', 'BK ROG', 'Solary', 'Vitality.Bee',
       'Aegis', 'Team GO', 'Karmine Corp', 'GameWard', 'IziDream'],
      dtype=object)

In [4]:
df_items = pd.read_csv('data/items-costs.csv')
df_items.head()

                   item  cost
0             Wild Claw     3
1           Sharp Blade     3
2          Scale Tearer     3
3  Spirit of the Squire     3
4       Big Worm Hunter     3

In [5]:
# df completed with item cost with a join
df = df.merge(df_items, on='item', how='inner')
df.head()

   points               item         team     role opponent  cost
0      16  Arcane Adrenaline  BDS Academy      top  LDLC OL     1
1       0  Arcane Adrenaline  BDS Academy   jungle  LDLC OL     1
2       0  Arcane Adrenaline  BDS Academy      mid  LDLC OL     1
3       0  Arcane Adrenaline  BDS Academy      bot  LDLC OL     1
4       0  Arcane Adrenaline  BDS Academy  support  LDLC OL     1

In [7]:
role = "bot"

palette = ["#D8D8D8", "#20BECE", "#F37BFF", "#F2B036"]

mean_df = df[(df.role == role) & (df.opponent == "IziDream")].groupby('item', as_index=False).mean("points").sort_values("points", ascending=False)

plt.figure(figsize=(12,10))
ax = sns.barplot(x="points", y="item", data=mean_df, hue="cost", palette=palette, dodge=False).set_title(role)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().